.NavBarFontSpecial {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 900;
    color: orangered;
    font-size: 26px;
}

.NavBarSubBox {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.NavBarMainBox {
    display: inline-flex;
    width: 100%;
    border-bottom: 12px orangered dotted;
}

.NavBarLogo {
    margin: .5%;
}

.NavBarTitle {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: center;
    font-family: "Smokum";
    font-size: 62px;
    font-weight: 900;
}