
.galleryMainBox {
    width: 80%;
    height: 95%;
    margin: 1%;
}

.galleryHeading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 32px;
}